<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.allframework.mapper.SysUserMapper">

    <resultMap type="com.demo.allframework.entity.SysUser" id="SysUserMap">
        <result property="id" column="id"/>
        <result property="name" column="name" />
        <result property="type" column="type" />
        <result property="gender" column="gender" />
        <result property="loginName" column="login_name" />
        <result property="password" column="password" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysUserMap">
        select
          id, name, type, gender, login_name, password, create_by, create_time, update_by, update_time, remark
        from all_framework.sys_user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysUserMap">
        select
          id, name, type, gender, login_name, password, create_by, create_time, update_by, update_time, remark
        from all_framework.sys_user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysUserMap">
        select
          id, name, type, gender, login_name, password, create_by, create_time, update_by, update_time, remark
        from all_framework.sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="SysUser" keyProperty="id" useGeneratedKeys="true">
        insert into  sys_user(name, type, gender, login_name, password, create_by, create_time, update_by, update_time, remark)
        values (#{name}, #{type}, #{gender}, #{loginName}, #{password}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{remark})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update all_framework.sys_user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from all_framework.sys_user where id = #{id}
    </delete>

</mapper>