<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form id="userForm" th:action="@{/sysUser/save}" method="post" th:object="${sysUser}">
        <label>名称：</label>
        <input th:name="name" th:field="*{name}" autocomplete="off" placeholder="请输入用户名称" type="text" maxlength="30" /><br>
        <label>用户类型：</label>
        <select name="type">
            <option value="1">管理员</option>
            <option value="2">普通用户</option>
            <option value="3">演示用户</option>
        </select><br>
        <label>性别：</label>
        <select name="gender">
            <option value="1">男</option>
            <option value="0">女</option>
        </select><br>
        <label>登录名：</label>
        <input th:name="loginName" autocomplete="off" placeholder="请输入用户登录名" type="text" maxlength="30" /><br>
        <label>密码：</label>
        <input th:name="password" autocomplete="off" placeholder="请输入用户密码" type="password" maxlength="30" /><br>
        <label>备注：</label>
        <input th:name="remark" autocomplete="off" placeholder="请输入备注" type="text" maxlength="30" /><br>

        <input th:type="button" onclick="submitHandler()" id="btnSubmit" value="保存"/>
        <input th:type="reset" id="reset" value="重置"/>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function submitHandler(){
            $.post("/sysUser/save",function(res){
                console.log(res);
            })
        }
    </script>
</body>

</html>